div#bid-offering-area {
    display:none;
    margin-left:15px;
    margin-right:15px;
    margin-bottom:10px;
    margin-top:10px;
    border-top: 1px solid #d8d8d8;
    padding-top:10px;
}

div.bid-offering-row {
    clear:both;
    height:20px;
    width:100%;
    display:none;
}

div.bid-offering-lcol {
    float:left;
    width:50%;
    padding-top:10px;
    font-size:14px;
}

div.bid-offering-rcol {
    float:left;    
    padding-bottom:17px;
}

a.bid-accept-button-style {
width:120px;
}