/* 
    Document   : global.css
    Created on : Dec 5, 2010, 7:44:41 PM
    Author     : jam
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

div#main-page {
margin-top:10px;
margin-left:10px;
padding: 10px;
width:800px;
background-color:white;
-moz-border-radius:10px;
border-radius:10px;
}

body {
    background-color:gray;
    font-family: Verdana,Geneva,sans-serif;
    font-size:12px;
}



#menu {
    
}
/*
#menu ul, #menu li {
    display: inline;
    margin: 0;
    padding: 0;

    }

a.menu {
    color:black;
    font-size:14px;
    font-weight: bold;
    text-decoration:none;
    padding-right:5px;
}

a.menu:hover {
    text-decoration:underline;
}
*/

div#global-container {
    margin-top:5px;
margin-left:15px;
margin-right:15px;
margin-bottom: 5px;
    
    width:1024px;
    height:768px;
}

div#global-left-panel {
    width:368px;
    height:100%;
    float:left;
    background-image: url( '../images/woodgrain.png' );
    border-right: 1px white solid;
}

div#global-menu-panel {
border-top:20px;
position:absolute;
zindex:100;
}

div.menu-item {

}

div#global-divider {
    width:36px;
    height:100%;
    float:left;
    background-color: #505282;
    border-right: 1px solid #7b4231;
}

div#global-right-panel {
    width:590px;
    height: 100%;
    float:left;
    background-color: #c7d6d9;
}

div.content-area {
    margin : 5px;
    padding-left:5px;
}

div.offer-row {
    clear:both;
    height:106px;
    border-bottom: 1px solid #898989;
    padding-top:10px;
}
div.offer-thumb {
    float:left;
    width:106px;
    height:106px;
}
div.offer-title-col {
float:left;
width:350px;
}

div.offer-title-col .row {
clear:both;
height:15px;
}
div.offer-title-col .lcol {
    width:40%;
    float:left;
    color: #484848;
}

div.offer-title-col .rcol {
    width:60%;
    float:left;
} 
div.offer-control-col {
    float:left;
}

a.title-link {
 color:#484848;
 font-weight: 600;
 text-decoration:none;
}




a.title-link-b {
 color:#484848;
 font-weight: 600;
 text-decoration:none;
}

.title {
color:#484848;
font-weight:600;
font-size:15px;
}

.link-button {
 background-image: url('../images/linkgrad.png');
 background-repeat: repeat-x;
 -moz-border-radius:3px;
 border-radius:3px;
 border: 1px #575757 solid;
 padding-left:5px;
 padding-right:5px;
 padding-bottom:3px;
 padding-top:3px;
 margin:10px;
 display: inline;
 opacity:.8
}



.link-button:hover {
    opacity:1;
}


.link-button-b {
 background-image: url('../images/linkgrad.png');
 background-repeat: repeat-x;
 -moz-border-radius:3px;
 border-radius:3px;
 border: 1px #575757 solid;
 padding-left:5px;
 padding-right:5px;
 padding-bottom:3px;
 padding-top:3px;
 margin:2px 10px;
 text-align:center;
 display: block;
 opacity:.8
}

.link-button-b:hover {
    opacity:1;
}


div.page-heading {
font-size: 20px;
font-weight:500;
margin-bottom:10px;
}

span.title {
 color:#484848;
 font-weight: 600;
 
}