- current_user.received_messages.each do |message|
  - if message.class == BidMessage
    = render :partial => 'bid_message', :locals => { :message => message }  
  - if message.class == WinningBidMessage
    = render :partial => 'winning_bid_message', :locals => { :message => message } 
:javascript
  $(document).ready( function() {
    $('.show-bid').button( { icons : { primary : 'ui-icon-document' }} );
    $('.delete-message').button( { icons : { primary : 'ui-icon-trash' }} );
  });

